.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
lenv/
lenv*
venv
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
.cache/
docs/_build/
app.db
screenshots/*

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# VSCode
.vscode/*

# App Cache
app/cache/*
commissioner/cache/*
